html {
  font-family: "Fredoka One", sans-serif;
}

h1 {
  color: #990073;
  transform: rotate(-10deg);
}

p {
  color: #c09;
  transform: rotate(-6deg);
  max-width: 20em;

}

.btn {
  color: #c09;
  border: 3px solid #990073;
}

.btn-ghost:hover {
  color: #990073;
  border: 3px solid #990073;
}

.banner {
  background: repeating-linear-gradient(-30deg, #c9fcff, #c9fcff 10px, #d4fdff 10px, #d4fdff 20px);
  border-top: 10px solid #b3fbff;
  overflow: hidden;
}
